<h1>Editing mushroom_order</h1>

<%= render 'form' %>

<%= link_to 'Show', [@mushroom_order.mushroom, @mushroom_order] %> |
<%= link_to 'Back',mushroom_mushroom_orders_path(@mushroom_order.mushroom) %>

