<div class="jumbotron">
  <h1>Welcome to Addis Farm Market</h1></div>
  <p>This is a website created for producers of egg,milk,honey and mushroom to post their products on their respective markets and communicate with users who want to buy their products. This site has considered all the basic privacies of companies business interactions.</p>
  <h2>Basic Usage of the Site</h2>
  <p> In this site you can have either a seller or a buyer roles. Registerations are done by the system administrators and the required login information will be sent to you. To get the access you should give the system administrators(the contact us page has the addresses) basic information such us<ol> 
          <li>Your e-mail address</li>
          <li> user name</li>
          <li>company name</li>
          <li>contact telephone number(by this the system administrators will contact your company for updating with information)</li></ol></p>
